.bg-secondary {
    background-color: #4f84b0;
}

.bg-error {
    background-color: #8d2e42;
}

.text-secondary {
    color: #4f84b0;
}

.text-error {
    color: #8d2e42;
}

.flashit{
    color: black;
    -webkit-animation: flash linear 1s infinite;
    animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
}
@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
}

